/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif, "Roboto Slab", "Noto Serif TC", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5.6rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.2rem;
}

b {
  font-weight: 500;
}

p {
  margin: 0;
}

body header {
  width: 48px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body header .openTime {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  right: 16px;
  top: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: "Roboto Slab", "Noto Serif TC", serif;
  line-height: 16px;
  font-size: 12px;
  color: #3e3a39;
  letter-spacing: 0.05em;
  text-indent: 0.05em;
}

body header .openTime span {
  font-weight: 700;
  margin-top: 4px;
}

body header .humburger {
  width: 16px;
  height: 36px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body header .humburger:hover {
  cursor: pointer;
}

body header .humburger .manuOpener_line {
  display: inline-block;
  width: 4px;
  background-color: #3e3a39;
}

body header .navCloser {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  right: 16px;
  bottom: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: "Roboto Slab", "Noto Serif TC", serif;
  line-height: 16px;
  font-size: 14px;
  color: #3e3a39;
  letter-spacing: 0.05em;
  text-indent: 0.05em;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body header .navCloser span {
  margin-top: 4px;
  font-size: 16px;
}

body #container {
  height: 2000px;
  margin-left: 48px;
  background: #3e3a39;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body.nav-open header {
  width: 300px;
}

body.nav-open header .humburger {
  opacity: 0;
}

body.nav-open header .humburger:hover {
  cursor: unset;
}

body.nav-open header .navCloser {
  opacity: 1;
}

body.nav-open header .navCloser:hover {
  cursor: pointer;
}

body.nav-open #container {
  margin-left: 300px;
}
/*# sourceMappingURL=style.css.map */