body #container main #about .story-1, body #container main #about .story-3, body #container main #newsLetter, body #container main #menu .menu, body #container main #menu .charge, body #container main #shopInfo, body #container main #contact {
  padding-top: 160px;
  padding-bottom: 160px;
}

/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", "Roboto", "Noto Serif TC", "Roboto", serif, sans-serif;
  font-weight: 400;
  color: #3e3a39;
}

a {
  text-decoration: none;
  color: #212121;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
}

h3 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 2.9rem;
  font-weight: 400;
  letter-spacing: 0.2em;
}

h6 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-indent: 0.33em;
  letter-spacing: 0.33em;
}

b {
  font-weight: 500;
}

p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body aside {
  height: 100vh;
  width: 48px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body aside .navOpener {
  width: 48px;
  height: 100%;
  padding: 16px;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body aside .navOpener .openTime {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-indent: 0.05em;
  writing-mode: vertical-rl;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body aside .navOpener .openTime span:last-child {
  margin-top: 4px;
  font-family: "Roboto", "Roboto", sans-serif;
}

body aside .navOpener .humburger {
  height: 36px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s 0.2s ease-in-out;
  transition: all 0.2s 0.2s ease-in-out;
}

body aside .navOpener .humburger:hover {
  cursor: pointer;
}

body aside .navOpener .humburger span {
  width: 4px;
  display: inline-block;
  background-color: #3e3a39;
}

body aside .navOpener .navCloser {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: 500;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  opacity: 0;
  -webkit-transition: all 0.2s 0.2s ease-in-out;
  transition: all 0.2s 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body aside .navOpener .navCloser span:first-child {
  font-size: 1.4rem;
}

body aside .navOpener .navCloser span:last-child {
  margin-top: 4px;
  font-size: 1.6rem;
}

body aside nav {
  height: 100%;
  width: 208px;
  position: absolute;
  top: 0;
  right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body aside nav ul li {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body aside nav ul li h4 {
  white-space: nowrap;
  position: relative;
}

body aside nav ul li h4 i {
  margin-right: 8px;
}

body aside nav ul li h4::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 1px;
  background: #3e3a39;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body aside nav.banner-point .banner-point::after {
  width: 100%;
}

body aside nav.about-point .about-point::after {
  width: 100%;
}

body aside nav.newsLetter-point .newsLetter-point::after {
  width: 100%;
}

body aside nav.menu-point .menu-point::after {
  width: 100%;
}

body aside nav.shopInfo-point .shopInfo-point::after {
  width: 100%;
}

body aside nav.contact-point .contact-point::after {
  width: 100%;
}

body #banner-img {
  height: 100vh;
  width: calc(100vw - 48px);
  margin-left: 48px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body #banner-img .banner-swiper {
  width: 100%;
  height: 100%;
}

body #banner-img .banner-swiper .swiper-slide {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

body #banner-img .banner-swiper .swiper-slide .mask {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}

body #banner-img .banner-swiper .banner-1 {
  background-image: url(../img/banner/use-03.jpg);
}

body #banner-img .banner-swiper .banner-2 {
  background-image: url(../img/banner/use-02.jpg);
}

body #banner-img .banner-swiper .banner-3 {
  background-image: url(../img/banner/use-01.jpg);
}

body #container {
  margin-left: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body #container main .content-s {
  padding-left: 22%;
  padding-right: 22%;
}

body #container main .content-m {
  padding-left: 14%;
  padding-right: 14%;
}

body #container main .content-l {
  padding-left: 6%;
  padding-right: 6%;
}

body #container main #banner {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #container main #banner #banner-point {
  position: absolute;
  top: 0;
  left: calc(256px * -1);
}

body #container main #banner .logo {
  width: 20%;
  min-width: 272px;
  fill: #ffffff;
}

body #container main #banner h6 {
  font-weight: 400;
  color: #ffffff;
  margin: 24px 0;
  text-indent: 1.2rem;
  letter-spacing: 1em;
}

body #container main #about {
  position: relative;
}

body #container main #about #about-point {
  position: absolute;
  top: 0;
  left: calc(256px * -1);
}

body #container main #about .story-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f0e9;
}

body #container main #about .story-1 .text {
  text-align: center;
  padding-left: 22%;
  padding-right: 22%;
}

body #container main #about .story-1 .text h2 {
  margin-bottom: 4px;
}

body #container main #about .story-1 .text h6 {
  margin-bottom: 36px;
}

body #container main #about .story-1 .text h5 {
  margin-bottom: 72px;
}

body #container main #about .story-1 .img-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

body #container main #about .story-1 .img-wrapper .img {
  border-radius: 4px;
}

body #container main #about .story-1 .img-wrapper :first-child {
  padding-bottom: 48vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  background-image: url(../img/about/use-1.jpg);
  background-position: center;
  background-size: cover;
}

body #container main #about .story-1 .img-wrapper :nth-child(2) {
  padding-bottom: 48vh;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  background-image: url(../img/about/use-2.jpg);
  background-position: center;
  background-size: cover;
}

body #container main #about .story-1 .img-wrapper :last-child {
  padding-bottom: 48vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  background-image: url(../img/about/use-3.jpg);
  background-position: center;
  background-size: cover;
}

body #container main #about .story-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background-color: #eeeae3;
  color: #2b2827;
}

body #container main #about .story-2 .text {
  padding: 33% 12%;
  text-align: center;
}

body #container main #about .story-2 .text h3 {
  padding-bottom: 24px;
}

body #container main #about .story-2 .text h5 {
  margin-bottom: 36px;
}

body #container main #about .story-2 .img {
  background-image: url("../img/about/use-41.jpg");
  background-position: center;
  background-size: cover;
}

body #container main #about .story-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[21];
      grid-template-columns: repeat(21, 1fr);
  background-color: #e0d9cc;
  color: #1a1817;
}

body #container main #about .story-3 .img {
  border-radius: 4px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  background-image: url("../img/about/5.jpg");
  background-position: center;
  background-size: cover;
}

body #container main #about .story-3 .text {
  -ms-grid-column: 13;
      grid-column-start: 13;
  grid-column-end: 22;
  padding: 33% 0%;
  text-align: center;
}

body #container main #about .story-3 .text h3 {
  padding-bottom: 24px;
}

body #container main #about .story-3 .text h5 {
  margin-bottom: 36px;
}

body #container main #newsLetter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3e3a39;
}

body #container main #newsLetter #newsLetter-point {
  position: absolute;
  top: 0;
  left: calc(256px * -1);
}

body #container main #newsLetter .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
  color: #fff;
}

body #container main #newsLetter .text h2 {
  margin-bottom: 4px;
}

body #container main #newsLetter .swiper-button-container {
  width: 100%;
  position: relative;
}

body #container main #newsLetter .swiper-button-container .swiper-container {
  height: 100%;
  width: 100%;
  position: static;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide {
  position: relative;
  background-image: url("https://picsum.photos/1920/1080");
  background-position: center;
  background-size: cover;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide .more {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: rgba(170, 190, 203, 0.8);
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide .more:hover {
  opacity: 1;
  cursor: pointer;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide .block {
  max-width: 66%;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.4rem;
  white-space: nowrap;
  background: #ffffff;
  letter-spacing: 0.05em;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide .block .data {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide .block .data .tag {
  overflow: hidden;
  text-overflow: ellipsis;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide .block .data .line {
  height: 1.4rem;
  width: 1px;
  margin: 0 8px;
  display: block;
  background-color: #000000;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-slide .block .title {
  overflow: hidden;
  text-overflow: ellipsis;
}

body #container main #newsLetter .swiper-button-container .swiper-container .newsSlide-1 {
  background-image: url("../img/new/2020_08_07.jpg");
}

body #container main #newsLetter .swiper-button-container .swiper-container .newsSlide-2 {
  background-image: url("../img/new/2020_05_07.jpg");
}

body #container main #newsLetter .swiper-button-container .swiper-container .newsSlide-3 {
  background-image: url("../img/new/2020_05_01.jpg");
}

body #container main #newsLetter .swiper-button-container .swiper-container .newsSlide-4 {
  background-image: url("../img/new/2020_04_19.jpg");
}

body #container main #newsLetter .swiper-button-container .swiper-container .newsSlide-5 {
  background-image: url("../img/new/2020_04_09.jpg");
}

body #container main #newsLetter .swiper-button-container .swiper-container .newsSlide-6 {
  background-image: url("../img/new/2020_03_20.jpg");
}

body #container main #newsLetter .swiper-button-container .swiper-container .newsSlide-7 {
  background-image: url("../img/new/2020_02_09.jpg");
}

body #container main #newsLetter .swiper-button-container .swiper-container .newsSlide-8 {
  background-image: url("../img/new/2020_02_05.jpg");
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-button-next {
  right: auto;
  left: 95%;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-button-next::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 10px 0 10px 16px;
  border-color: transparent transparent transparent #aabecb;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-button-prev {
  right: 95%;
  left: auto;
}

body #container main #newsLetter .swiper-button-container .swiper-container .swiper-button-prev::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 10px 16px 10px 0;
  border-color: transparent #aabecb transparent transparent;
}

body #container main #menu {
  position: relative;
}

body #container main #menu #menu-point {
  position: absolute;
  top: 0;
  left: calc(256px * -1);
}

body #container main #menu .menu {
  background-color: #f3f0e9;
}

body #container main #menu .menu .wrapper {
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body #container main #menu .menu .wrapper .boxes {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

body #container main #menu .menu .wrapper .boxes .text {
  padding-right: 72px;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

body #container main #menu .menu .wrapper .boxes .text h2 {
  text-indent: unset;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-top {
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-top .swiper-slide {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2rem;
  color: #ffffff;
  background-size: cover;
  background-position: center;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-top .swiper-slide p {
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 72px;
  margin-bottom: 72px;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  background-color: rgba(255, 255, 255, 0.25);
  border: solid 1px #fff;
  padding: 15px 35px 15px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-top .swiper-slide p :first-child {
  font-size: 1.6rem;
  margin-right: 4px;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-top .swiper-slide p:hover {
  color: #3e3a39;
  background-color: #ffffff;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-thumbs {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-thumbs .swiper-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-thumbs .swiper-slide:hover {
  opacity: 1;
  cursor: pointer;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .gallery-thumbs .swiper-slide-thumb-active:hover {
  opacity: 1;
  cursor: default;
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .menuSlide-1 {
  background-image: url("../img/menu/use-1.jpg");
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .menuSlide-2 {
  background-image: url("../img/menu/use-2.jpg");
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .menuSlide-3 {
  background-image: url("../img/menu/use-3.jpg");
}

body #container main #menu .menu .wrapper .boxes .swiper-combine .menuSlide-4 {
  background-image: url("../img/menu/use-4.jpg");
}

body #container main #menu .charge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #eeeae3;
}

body #container main #menu .charge .text {
  padding-top: 16px;
  padding-left: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

body #container main #menu .charge .text h2 {
  text-indent: unset;
}

body #container main #menu .charge .text h3 {
  padding-right: 36px;
}

body #container main #menu .charge .text h3 span {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}

body #container main #menu .charge .img-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 36px;
}

body #container main #menu .charge .img-wrapper .img {
  padding-bottom: 128%;
  background-size: cover;
  background-position: center;
}

body #container main #menu .charge .img-wrapper .chargeImg-01 {
  background-image: url("../img/menu/use-5.jpg");
}

body #container main #menu .charge .img-wrapper .chargeImg-02 {
  background-image: url("../img/menu/use-6.jpg");
}

body #container main #shopInfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3e3a39;
}

body #container main #shopInfo #shopInfo-point {
  position: absolute;
  top: 0;
  left: -252px;
}

body #container main #shopInfo .text {
  text-align: center;
  margin-bottom: 36px;
  color: #ffffff;
}

body #container main #shopInfo .box {
  width: 100%;
}

body #container main #shopInfo .box .shop {
  width: 100%;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #container main #shopInfo .box .shop .img {
  width: 50%;
  height: 100%;
}

body #container main #shopInfo .box .shop .img .swiper-container {
  width: 100%;
  height: 100%;
}

body #container main #shopInfo .box .shop .img .swiper-container .swiper-slide {
  background-position: center !important;
  background-size: cover !important;
}

body #container main #shopInfo .box .shop .img .swiper-container .shop01-1 {
  background: url("../img/shopInfo/shop-01/1.jpg");
}

body #container main #shopInfo .box .shop .img .swiper-container .shop01-2 {
  background: url("../img/shopInfo/shop-01/2.jpg");
}

body #container main #shopInfo .box .shop .img .swiper-container .shop01-3 {
  background: url("../img/shopInfo/shop-01/3.jpg");
}

body #container main #shopInfo .box .shop .img .swiper-container .shop01-4 {
  background: url("../img/shopInfo/shop-01/4.jpg");
}

body #container main #shopInfo .box .shop .data-wrapper {
  width: 50%;
  padding: 12% 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

body #container main #shopInfo .box .shop .data-wrapper h3 {
  padding-bottom: 36px;
  font-weight: 700;
}

body #container main #shopInfo .box .shop .data-wrapper .data {
  font-family: "Roboto", "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  width: 100%;
  padding-bottom: 72px;
}

body #container main #shopInfo .box .shop .data-wrapper .data .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
}

body #container main #shopInfo .box .shop .data-wrapper .data .tr .th {
  width: 20%;
  min-width: 120px;
  text-align: right;
  white-space: nowrap;
  font-weight: 700;
}

body #container main #shopInfo .box .shop .data-wrapper .data .tr .td {
  padding-left: 36px;
  word-break: break-all;
}

body #container main #shopInfo .box .shop .data-wrapper .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 36px;
  font-family: "Roboto", "Roboto", sans-serif;
}

body #container main #shopInfo .box .shop .data-wrapper .btn-wrapper .btn {
  border-radius: 4.2rem;
  padding: 15px 35px 15px 35px;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
}

body #container main #shopInfo .box .shop .data-wrapper .btn-wrapper .booking {
  background-color: #b81c22;
  color: #ffffff;
  margin-right: 72px;
}

body #container main #shopInfo .box .shop .data-wrapper .btn-wrapper .uber {
  background-color: #000000;
  color: #ffffff;
}

body #container main #shopInfo .box .shop .data-wrapper .btn-wrapper .uber span {
  color: #5fb709;
}

body #container main #shopInfo .box .shop:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body #container main #contact {
  background-color: #f3f0e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body #container main #contact #contact-point {
  position: absolute;
  top: 0;
  left: calc(256px * -1);
}

body #container main #contact .text {
  text-align: center;
  margin-bottom: 36px;
}

body #container main #contact .contact-wapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
}

body #container main #contact .contact-wapper .btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #container main #contact .contact-wapper .btn-group .btn {
  width: 50%;
  padding: 12px 0;
  text-align: center;
  background-color: #e0e0e0;
}

body #container main #contact .contact-wapper .btn-group .btn.active {
  background-color: #f5f5f5;
}

body #container main #contact .contact-wapper .contact-container {
  width: 100%;
}

body #container main #contact .contact-wapper .contact-container .contact {
  width: 100%;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container main #contact .contact-wapper .contact-container .contact .remark {
  padding: 56px;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap {
  padding: 72px 0;
  width: 100%;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl {
  width: 100%;
  display: table;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl dt {
  width: 23.48%;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl dd {
  width: 76.52%;
  display: table-cell;
  vertical-align: middle;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl dd .selectWrap {
  width: 100%;
  position: relative;
  background-color: #f1eee8;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl dd .selectWrap::before {
  width: 30px;
  height: 37px;
  content: "";
  background-color: #cec9be;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl dd .selectWrap::after {
  width: 0;
  height: 0;
  content: "";
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 3.5px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 3.5px solid transparent;
  position: absolute;
  top: 50%;
  right: 11.5px;
  margin-top: -2px;
  z-index: 0;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl dd .selectWrap select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 37px;
  padding: 0 40px 0 10px;
  background-color: transparent;
  border: none;
  font-size: 13px;
  line-height: 1;
  position: relative;
  z-index: 1;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl dd input {
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  background-color: #f1eee8;
  border-radius: 0;
}

body #container main #contact .contact-wapper .contact-container .contact .contactWrap dl dd textarea {
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  background-color: #f1eee8;
  font-size: 13px;
  letter-spacing: 0.08em;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #container main #contact .contact-wapper .contact-container .contact .check-btn {
  padding: 0 72px;
  border: 1px solid #000000;
}

body #container footer {
  height: 180px;
  padding: 0 72px;
  background-color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #container footer .communityBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container footer .communityBlock .logo-wrapper {
  padding: 8px;
  margin-right: 24px;
}

body #container footer .communityBlock .logo-wrapper .logo {
  width: 168px;
}

body #container footer .communityBlock .community {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #container footer .communityBlock .community i {
  font-size: 2.4rem;
}

body #container footer .copyrightBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #container footer .copyrightBlock .copyright {
  margin-left: 24px;
}

body.nav-open aside {
  width: 256px;
}

body.nav-open aside .humburger {
  opacity: 0;
}

body.nav-open aside .humburger:hover {
  cursor: unset;
}

body.nav-open aside .navCloser {
  opacity: 1;
}

body.nav-open aside .navCloser:hover {
  cursor: pointer;
}

body.nav-open aside nav {
  -webkit-transition: all 0.2s 0.2s ease-in-out;
  transition: all 0.2s 0.2s ease-in-out;
  visibility: visible;
  opacity: 1;
}

body.nav-open #banner-img {
  left: calc(256px - 48px);
}

body.nav-open #container {
  left: calc(256px - 48px);
}
/*# sourceMappingURL=style.css.map */