$spacing-2xs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 36px;
$spacing-xl: 72px;
$spacing-2xl: 160px;

//color
$header-fontColor: #3e3a39;

//z-index
// 用法 : z-index: z("modal", "close"); z-index: z("goku");
$z-layers: (
    "goku": 9001,
    "shoryuken": 8000,
    "modal": (
        "base": 500,
        "close": 100,
        "header": 50,
        "footer": 10,
    ),
    "default": 1,
    "below": -1,
    "bottomless-pit": -9000,
);

@function map-has-nested-keys($map, $keys...) {
    @each $key in $keys {
        @if not map-has-key($map, $key) {
            @return false;
        }
        $map: map-get($map, $key);
    }
    @return true;
}

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function z($layers...) {
    @if not map-has-nested-keys($z-layers, $layers...) {
        @warn "No layer found for `#{inspect($layers...)}` in $z-layers map. Property omitted.";
    }
    @return map-deep-get($z-layers, $layers...);
}