@import "variable";
@import "common";

@mixin test {
    border: 1px solid #000000;
    box-sizing: border-box;
}

header {
    width: 48px;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;

    transition: all 0.6s cubic-bezier(0.05, 1, 0.61, 1);
    .openTime {
        user-select: none;
        position: absolute;
        right: 15px;
        top: 16px;

        transform: rotate(180deg);
        writing-mode: vertical-rl;

        font-family: "Roboto Slab", "Noto Serif TC", serif;
        font-weight: 700;
        color: $header-fontColor;
        letter-spacing: 0.05em;

        span {
            font-weight: 500;
            margin-bottom: $spacing-xs;
        }
    }

    .humburger {
        width: $spacing-s;
        height: $spacing-l;

        position: absolute;
        top: 50%;
        right: $spacing-s;
        transform: translate(0, -50%);

        display: flex;
        flex-direction: stretch;
        justify-content: space-between;

        &:hover {
            cursor: pointer;
        }
        .manuOpener_line {
            display: inline-block;
            width: 4px;
            background-color: $header-fontColor;
        }
    }
}



#container {
    height: 2000px;

    margin-left: 48px;

    background: #3e3a39;
    transition: all 0.6s cubic-bezier(0.05, 1, 0.61, 1);
}

.nav-open{
    header{
        width: 300px;
    }

    #container {
        margin-left: 300px;
    }
}