@import "variable";
@import "common";

body {
    header {
        width: 48px;
        height: 100vh;

        position: fixed;
        left: 0;
        top: 0;

        transition: all 0.4s ease-in-out;
        .openTime {
            user-select: none;
            position: absolute;
            right: $spacing-s;
            top: $spacing-s;

            transform: rotate(180deg);
            writing-mode: vertical-rl;

            font-family: "Roboto Slab", "Noto Serif TC", serif;
            line-height: $spacing-s;
            font-size: 12px;
            color: $header-fontColor;
            letter-spacing: 0.05em;
            text-indent: 0.05em;
            span {
                font-weight: 700;
                margin-top: $spacing-2xs;
            }
        }

        .humburger {
            width: $spacing-s;
            height: $spacing-l;

            position: absolute;
            top: 50%;
            right: $spacing-s;
            transform: translate(0, -50%);

            display: flex;
            flex-direction: stretch;
            justify-content: space-between;

            transition: all 0.2s ease-in-out;
            &:hover {
                cursor: pointer;
            }
            .manuOpener_line {
                display: inline-block;
                width: 4px;
                background-color: $header-fontColor;
            }
        }

        .navCloser {
            user-select: none;
            position: absolute;
            right: $spacing-s;
            bottom: $spacing-s;

            transform: rotate(180deg);
            writing-mode: vertical-rl;

            font-family: "Roboto Slab", "Noto Serif TC", serif;
            line-height: $spacing-s;
            font-size: 14px;
            color: $header-fontColor;
            letter-spacing: 0.05em;
            text-indent: 0.05em;

            opacity: 0;
            transition: all 0.2s ease-in-out;
            
            span {
                margin-top: $spacing-2xs;
                font-size: $spacing-s;
            }
        }
    }

    #container {
        height: 2000px;

        margin-left: 48px;

        background: #3e3a39;
        transition: all 0.4s ease-in-out;
       
    }
}

body.nav-open {
    header {
        width: 300px;
        .humburger{
            opacity: 0;
            &:hover {
                cursor: unset;
            }
        }
        .navCloser {
            opacity: 1;
            &:hover {
                cursor: pointer;
            }
        }
    }

    #container {
        margin-left: 300px;
    }
}
